NEXT_PUBLIC_SUPABASE_URL=https://knjxpgcvtjqjqctyncmg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuanhwZ2N2dGpxanFjdHluY21nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzNjc0MTIsImV4cCI6MjA3MTk0MzQxMn0.u-2aAYpqey2bm6juFgg4a6VLtix8kRHTw-d3yBhunEg